<!DOCTYPE html>
<html lang="py-br">

<head>
	<meta charset="utf-8">
	<title>Cadastro</title>
	<link rel="stylesheet" type="text/css" href="../Views/css/cadastro.css">
</head>

<body>
	<!--pagina de cadastro-->
	<h2>Cadastrar</h2>
	 <div id="principal">
	 		
		<form action="... /Model/cadastro.php" method="POST">
			<!--campo de nome para cadastro-->
			<div>
			<label>Nome</label>
					<input type="text" name="nome_cad" id="nome-cad" placeholder="Digite seu nome">
			</div>
			<!--campo de e-mail para cadastro-->
			<div>
			<label>E-mail</label>
			
				<input type="text" name="email_cad" id="email-cad" placeholder="Digite seu E-mail">
			</div>
			<div>
			<label>E-mail Secundario</label>
				<input type="text" name="emailsec_cad" id="emailsec-cad" placeholder="Digite seu E-mail Secundario">
			</div>
			<div>
			<label>Telefone</label>
					<input type="" name="telefone_cad" id="telefone-cad" placeholder="Digite seu Telefone">
			</div>
			<div>
			<!--campo de senha para cadastro-->
			<label>Senha</label>
				<input type="password" name="senha_cad" id="senha-cad" placeholder="Digite sua senha">
			</div>
			<div>
			<!--botão para enviar informações para banco de dados-->
				<input type="submit" value="Cadastrar">
			</div>
	 	
	 	</form>
	</div>

	
	
</body>


</html>