<!DOCTYPE html>
<html lang="pt-br">

<head>

	<meta charset="utf-8">
	<title>Look Cloud</title>
	<link rel="stylesheet" type="text/css" href="../Views/css/principal.css">

</head>

<body>
	<div id="login">
	<!--botao para encaminhar para a tela de login-->
	<form action="login.html">
		<input class="botao" type="submit" value="Login" >
	</form>
	</div>

	<div id="cadastro">
	<!--botao para encaminhar para tela de cadastro-->
	<form action="cadastrar.html">
		<input class="botao" type="submit" value="Cadastrar">
	</form>
	</div>
</body>

</html>