<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset= "UTF-8">
	<title>Entrar</title>

	<link rel="stylesheet" type="text/css" href="../Views/css/login.css">
</head>

<body>
<!-- pagina login -->
	
		<h2>Login</h2>

		<div id="principal">
			<!--Se quiser pode remover essa imagem-->
			<img src="../Views/css/img/perfil.png">


			<form action="" method="POST">	

				<!--local do email-->
				<div>
					<input class="email" type="text" name="email" id="email"
					placeholder="digite seu email">

				</div>

				<!--local da senha-->
				<div>
					<input class="senha" type="password" name="senha" id="senha"
					placeholder="digite sua senha">
				</div>

				<!--Botão de entrar-->
				<div>
					<input class="submit" type="submit" value="Entrar">
				</div>

			</form>

		</div>
</body>
</html>